.classes-button {
  background-color: #335120;
  border-color: #335120;
}

.clubs-button {
  background-color: #335120;
  border-color: #335120;
}

.research-button {
  background-color: #335120;
  border-color: #335120;
}

.teaching-button {
  background-color: #335120;
  border-color: #335120;
}

.carousel img {
  height: 500px;
  width: 500px;
}

#home-images {
  margin-top: 20px;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-width: 850px;
}