#nav-bar {
  margin-top: 2%;
  margin-left: 32%;
}

h1 {
  margin-left: 30%;
  width: 50%;
}

.classes-button {
  background-color: #335120;
  border-color: #335120;
}

.clubs-button {
  background-color: #335120;
  border-color: #335120;
}

.research-button {
  background-color: #335120;
  border-color: #335120;
}

.teaching-button {
  background-color: #335120;
  border-color: #335120;
}

.carousel img {
  height: 300px;
  width: 300px;
}

#home-images {
  margin-left: 40%;
  margin-top: 20px;
}