body {
  background-color: white;
}

nav + h1 + p {
  text-align: center
}

.hide {
  background-color: rgb(219, 219, 219);
  display: none;
}

.legend {
  position: fixed;
  top: 75px;
  left: 30px;
  display: inline;
  background-color: #666;
  padding: 10px;
}

.legend a {
  color: black;
  opacity: 60%;
  display: block;
}

.legend a:hover, .quarter-summary a {
  text-decoration: none;
  opacity: 100%;
}

.pink-highlight {
  background-color: pink;
}

.red-highlight {
  background-color: tomato;
}

.orange-highlight {
  background-color: lightcoral;
}

.yellow-highlight {
  background-color: lightgoldenrodyellow;
}

.green-highlight {
  background-color: lightgreen;
}

.blue-highlight {
  background-color: lightblue;
}

.purple-highlight {
  background-color: lavender;
}

.quarter {
  padding: 10px;
  text-align: center;
}

.quarter:hover {
  cursor: pointer;
}

.quarter-summary {
  text-align:left;
  font-size: 12px;
}

.quarter > img {
  width: 235px;
  height: 235px;
  border-radius: 300px;
}

.quarter-summary {
  width: 235px;
  height: 235px;
}

.quarter-summary button {
  align-self: flex-start;
}

.show-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#map {
  margin-left: 60px;
}

#map .quarter:hover {
  background-color: rgb(219, 219, 219);
}

.horizontal {
  border: none;
  border-top: 1px dotted black;
}

#row1, #row2, #row3, #row4, #row5 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 1%;
}

#row1, #row3, #row5 {
  margin-left: auto;
}

#row2, #row4 {
  margin-right: auto;
}