nav {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: #333;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  line-height: 50px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #37beb0;
  height: 100%;
  display: inline-block;
}


nav li img {
  height: 50px;
  position: absolute;
  right: 0px;
}

nav img {
  height: 50px;
}

nav li:hover {
  background-color: #3786E1;
  color: #37beb0;
}

nav li a:hover {
  background-color: #3786E1;
  color: #37beb0;
  text-decoration: none;
}